/*-----------------------------*/
/*---------- General ----------*/
/*-----------------------------*/

body {
  margin: 0;
}

/*-------------------------*/
/*---------- Nav ----------*/
/*-------------------------*/

nav,
.nav-bar-right-section {
  display: flex !important;
  flex-direction: row;
  background-color: #fff !important;
}
nav > * {
  flex: 1;
}
.logo-image {
  height: 50px;
  margin: 1%;
}
.nav-bar-right-section {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.nav-bar-right-section li:nth-child(2) {
  border-left: 1px solid #ccc;
}
.nav-bar-right-section li a {
  color: #000 !important;
}

/*----------------------------*/
/*---------- Header ----------*/
/*----------------------------*/

header {
  width: 100%;
  color: #fff;
  padding: 5%;
}
header h1 {
  text-align: center;
  margin: 0;
  margin-top: 1px;
}
