/*-----------------------------*/
/*---------- General ----------*/
/*-----------------------------*/

body {
  margin: 0;
}

/*-------------------------*/
/*---------- Nav ----------*/
/*-------------------------*/

nav,
.nav-bar-right-section {
  display: flex !important;
  flex-direction: row;
}
nav > * {
  flex: 1;
}
.logo-image {
  height: 50px;
  margin: 1%;
}
.nav-bar-right-section {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.nav-bar-right-section li:nth-child(2) {
  border-left: 1px solid #ccc;
}

/*----------------------------*/
/*---------- Header ----------*/
/*----------------------------*/

header {
  width: 100%;
  color: #fff;
  padding: 5%;
}
header h1 {
  text-align: center;
  margin: 0;
  margin-top: 1px;
}

/*------------------------------------------*/
/*---------- Search Bar & Filters ----------*/
/*------------------------------------------*/

.search-filters-card-overall-container {
  width: 85%;
  margin: auto;
}

/*--------------------------------*/
/*---------- Search Bar ----------*/
/*--------------------------------*/

input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #47a2f8 !important;
  box-shadow: 0 1px 0 0 #47a2f8 !important;
}

/*-----------------------------------*/
/*---------- Filter Button ----------*/
/*-----------------------------------*/

.filter-button-overall-container {
  display: flex;
  flex-direction: row;
}
.filter-button-individual-container {
  flex: 1;
}
.filter-button {
  width: 100%;
  border-left: 1px solid #ccc !important;
}

/*-----------------------------------------*/
/*---------- Search/Reset Button ----------*/
/*-----------------------------------------*/

.search-reset-button-overall-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}
.search-button {
  width: 168px !important;
}
.reset-button a {
  color: #fff;
}

/*--------------------------*/
/*---------- Card ----------*/
/*--------------------------*/

.card-overall-container {
  margin-top: 4%;
}
.card-outline {
  width: 75%;
  margin: auto;
}
.card-image {
  margin: 2% 2% 0 2%;
}
.card-image img {
  height: 158px;
  width: 158px !important;
  border-radius: 20px !important;
}
.card-content {
  display: flex;
  flex-direction: row;
}
.card-content ul {
  margin: 0;
}
.card-content-display {
  display: flex;
  flex-direction: row;
}
.card-content-name li h4 {
  margin: 0;
}
.card-content-name li:nth-child(2) h4 {
  margin-left: 10px;
}
.card-content ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-content__cohort i {
  margin-right: 7px;
}
.card-content__email i {
  margin-right: 11px;
}
.card-content__location i {
  margin-right: 13px;
}
.card-content ul li h6,.card-content ul li a {
  font-size: 1.25em;
}
.card-image-techstars {
  width: 100%;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
}
.card-image-techstars img {
  width: 60px;
  height: 50px;
}
