/*-----------------------------*/
/*---------- General ----------*/
/*-----------------------------*/

body {
  margin: 0;
}

/*-------------------------*/
/*---------- Nav ----------*/
/*-------------------------*/

nav,
.nav-bar-right-section {
  display: flex !important;
  flex-direction: row;
}
nav > * {
  flex: 1;
}
.logo-image {
  height: 50px;
  margin: 1%;
}
.nav-bar-right-section {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.nav-bar-right-section li:nth-child(2) {
  border-left: 1px solid #ccc;
}

/*----------------------------*/
/*---------- Header ----------*/
/*----------------------------*/

header {
  width: 100%;
  color: #fff;
  padding: 5%;
}
header h1 {
  text-align: center;
  margin: 0;
  margin-top: 1px;
}

/*------------------------------------------*/
/*---------- Search Bar & Filters ----------*/
/*------------------------------------------*/

.container-search-filters {
  width: 85%;
  margin: auto;
}

/*--------------------------------*/
/*---------- Search Bar ----------*/
/*--------------------------------*/

input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #47a2f8 !important;
  box-shadow: 0 1px 0 0 #47a2f8 !important;
}
